$main-color: #3ccf80;
$secondary-color: #808080;
$header-color: #414141;
$background-color: #f4f4f4;

//breakpoints
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 1024px)";
//
