.nav-wrapper {
  background-color: white;
}

.title {
  background-image: url("../img/sw-hero-home.png");
  clear: both;
  width: 100%;
  padding: 30px 30px 60px 30px;
  color: white;
  h1{
    font-size: 2.2em;
    padding-bottom: 20px;
    font-weight: 900;
    @media #{$breakpoint-small} {
      font-size: 2.8em;
    }
  }
  p {
    line-height: 1.5em;
    @media #{$breakpoint-small} {
      font-size: 1.3em;
    }
  }
  @media #{$breakpoint-small} {
    text-align: center;
  }
}

.logo {
  float: left;
  width: 60%;
  img {
    width: 100%;
  }
  @media #{$breakpoint-small} {
    width: 40%;
  }
}

.search-bar {
  display: none;
  @media #{$breakpoint-medium} {
    display: inline;
  }
}

.nav-bar {
  padding: 15px;
  overflow: auto;

  ul {
  display: none;
  }

  a {
  float: right;
  }

}
